html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial;
}

.map {
  height: 600px;
}

.form-inline {
  margin: 20px 0;
}
.form-inline .form-group {
  margin-bottom: 0;
}
.form-inline .form-group,
.form-inline .form-control,
.form-inline button {
  width: 100%;
}
.bg-danger,
.bg-info {
  padding: 15px;
  margin-bottom: 20px;
}
*, *:before, *:after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
body {
  padding: 20px;
  font: 100% sans-serif;
}
.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: #eee;
  padding: 10px;
  margin: 0 0 0px 0;
  > * {
    margin: 0 0px;
  }
}
/*.search {
  flex: 1;
  input {
    width: 100%;
  }
}*/
.navbar-left {
    order: 1;
}
.navbar-middle {
    order: 2;
}
.navbar-right {
    order: 3;
}



.no-flexbox {
  .bar {
    display: table;
    border-spacing: 15px;
    padding: 0;
  }
  .bar > * {
    display: table-cell;
    vertical-align: middle;
    white-space: nowrap;
  }
  .username {
    width: 1px;
  }
}

@media (max-width: 650px) {
  .bar {
    flex-wrap: wrap;
  }
  .icon {
    order: 0 !important;
  }
  .username {
    order: 1 !important;
    width: 100%;
    margin: 15px;
  }
  .search {
    order: 2 !important;
    width: 100%;
  }
}