html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial;
  background-color: #d9f2e6;
  /*background-image: "../assets/trees-background.svg";*/
/*  background: url(../assets/trees-background.png) no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;*/
}

.map {
  height: 600px;
}

.form-inline {
  margin: 20px 0;
}
.form-inline .form-group {
  margin-bottom: 0;
}
.form-inline .form-group,
.form-inline .form-control,
.form-inline button {
  width: 100%;
}
.bg-danger,
.bg-info {
  padding: 15px;
  margin-bottom: 20px;
}
*, *:before, *:after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
body {
  padding: 20px;
  font: 100% sans-serif;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: #99e699;
  padding: 10px;
  margin: 0 0 0px 0;
  > * {
    margin: 0 0px;
  }
}
.nav-left {
    order: 1;
}
.nav-middle {
    order: 2;
}
.nav-right {
    order: 3;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
  display: inline;
  padding-right: 20px;
}



@media (max-width: 650px) {
  .bar {
    flex-wrap: wrap;
  }
  .icon {
    order: 0 !important;
  }
  .username {
    order: 1 !important;
    width: 100%;
    margin: 15px;
  }
  .search {
    order: 2 !important;
    width: 100%;
  }
}